.tokenType {
  color: #1c559b;
  font-weight: bold;
}
.tokenCategory {
  color: #0da158;

  font-weight: bold;
}
.tokenFamily {
  color: #ec4899;

  font-weight: bold;
}
.tokenState {
  font-weight: bold;
  color: #8b5cf6;
}
