@use "@styles" as *;

.panel {
  padding: 2rem !important;
  gap: 1rem;
  width: 25rem;
}

.optionsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox label {
  color: #717d87ff !important;
}
