@use "@styles" as *;

.panel {
  padding: var(--base-sizing-32x) !important;
  gap: var(--base-sizing-16x);
  width: var(--base-sizing-400x);
}

.optionsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox label {
  color: var(--theme-color-text-base-caption) !important;
}
