.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border: 1px solid #00000011;
  border-radius: 12px;
  box-shadow: 0 1px 3px #0000000c;
  text-align: center;
  gap: 8px;
}

.icon {
  width: 52px;
  height: 52px;
  object-fit: contain;
  border-radius: 999px;
  background-color: #f6f7fb;
  padding: 10px;
}

.name {
  font-weight: 600;
}

.version {
  font-weight: 700 !important;
  color: #0083cb !important;
}

.coverage {
  font-size: 12px !important;
  color: #00000099 !important;
}
