@use "@styles" as *;

.panel {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
  gap: 1.25rem;
  padding: 2rem !important;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.footerText {
  margin: 0;
  color: #717d87ff;
}
