@use "@styles" as *;

.panel {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
  gap: var(--base-sizing-20x);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--base-sizing-4x);
}

.footerText {
  margin: 0;
  color: var(--theme-color-text-base-caption);
}
