.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;

  .gridItem {
    padding: 6px 10px;
    background-color: var(--theme-color-surface-base-base2);
    border-radius: 6px;
    font-size: 13px;
    border: 1px solid var(--theme-color-border-light-default);
    color: var(--theme-color-text-base-title, #333333);
  }
}
