.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
  align-items: baseline;

  .gridItem {
    padding: 8px 12px;
    border-radius: 12px;
    font-size: 12px !important;
    border: 1px solid rgb(151 90 157 / 14%);
    color: #333333;
    overflow-wrap: break-word;
  }
}
